# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
csgoverview

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vim session file
Session.vim

# Jetbrains IDE
.idea
*.iml

# overviews folder
overviews/
