name: Go

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
    
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
        
    - uses: Jerome1337/gofmt-action@v1.0.4
      with:
        gofmt-flags: '-l -d'

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    
    - name: Set up dependencies
      run: sudo apt install libsdl2{,-gfx,-image,-ttf}-dev fonts-dejavu
      
    - uses: golangci/golangci-lint-action@master
      with:
        version: v1.41
        github-token: ${{ secrets.github_token }}

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
        
    - name: Set up dependencies
      run: sudo apt install libsdl2{,-gfx,-image,-ttf}-dev fonts-dejavu

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
